@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ATT Aleck Condensed';
    src: url('../fonts/attaleckcd_md.woff2') format('woff2'),
          url('../fonts/attaleckcd_md.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'ATT Aleck';
      src: url('../fonts/attalecksans_rg.woff2') format('woff2'),
            url('../fonts/attalecksans_rg.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'ATT Aleck';
      src: url('../fonts/attalecksans_md.woff2') format('woff2'),
            url('../fonts/attalecksans_md.woff') format('woff');
      font-weight: 400;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'ATT Aleck';
      src: url('../fonts/attalecksans_bdit.woff2') format('woff2'),
            url('../fonts/attalecksans_bdit.woff') format('woff');
      font-weight: 700;
      font-style: italic;
  }
  
  @font-face {
      font-family: 'ATT Aleck';
      src: url('../fonts/attalecksans_blk.woff2') format('woff2'),
            url('../fonts/attalecksans_blk.woff') format('woff');
      font-weight: 900;
      font-style: normal;
  }
  
  [data-switches] input:checked {
      background: white;
  }
  [data-switches] input:checked + span {
      color: #848484;
  }

  [data-switches] input {
      background: #dddd;
  }
  [data-switches] input + span {
      color:#2058B2
  }