.Rules {
  background: #F9FBFC;
  flex: 1;
}

.Rules form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  opacity: 0;
  transition: all 300ms;
}

.Rules.fade-in form {
  opacity: 1;
}

.Rules-form-content {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  max-width: 490px;
}

.Rules p.highlight {
  color: #000000;
  text-align: left;
  margin: 13px 0 9px;
}

.Rules h1.highlight, .Rules h2.highlight {
  text-align: center;
  color: #000000;
}


