.Thanks {
  align-items: center;
  background: #019FDB url(../images/bg-thanks.png) no-repeat top left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 30px;
}

.Thanks > * {
  opacity: 0;
  transition: all 300ms;
}

.Thanks.fade-in > * {
  opacity: 1;
}

.Thanks-message {
  color: #FFFFFF;
  font-family: 'boglebold';
  font-size: 64px;
  margin: 0 0 50px 0;
  text-align: center;
}

.Thanks-hero {
  max-width: 100%;
}
